.container {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.section {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.section h3 {
  margin-bottom: 6px;

  color: #cbd5e1;
}
