.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.sidebar {
  border-right: 1px solid #334155;
  padding: 16px;
  overflow-y: auto;
  background: #020617;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
