canvas {
  border: 1px solid #334155;
  background: black;
  max-width: 620px;
  max-height: 520px;
  width: 100%;
  height: auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 8px;
  padding: 10px;
  min-height: 250px;
}
