canvas {
  border: 1px solid #334155;
  background: black;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 8px;
  padding: 10px;
  min-height: 250px;
}
